body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 500px;
}

.jumbotron {
    padding: 0.1em 0.2em;
    h1 {
        font-size: 1em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.1em;
        }
    }
}